*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  background-color: rgb(103, 30, 215);
  color: black;
}
